#arag_wallet{
    background-color: var(--ar-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    z-index: 9998;
    width: 100%;
    height: 100%;
    min-width: 130px;
    min-height: 40px;
    padding-right: 5%;
}

#arag_wallet img{
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 100vh;
    margin-left: 1%;
    border-style: none;
}

#arag_wallet, .arag_wallet_container{
    border-style: none;
    border-radius: 100vh;
    /* filter: drop-shadow(0 5px 20px #5bc0be99); */
    transition: 0.4s;
}


#arag_wallet_modal{
    background-color: var(--ar-light-dim);
    backdrop-filter: blur(6px);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 9999;
}

#arag_wallet_modal>div{
    animation: arag_modal_anim .5s 1;
    border-radius: 20px;
    border-style: none;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    #arag_wallet_modal>div{
        width: 90vw;
    }
}

@keyframes arag_modal_anim {
    0%{
        transform: scale(0);
    }
    60%{
        transform: scale(1);
    }
    75%{
        transform: translateY(1vh);
    }
    80%{
        transform: translateY(-1vh);
    }
    95%{
        transform: translateY(1vh);
    }
    100%{
        transform: translateY(0);
    }
}