#arag_wallet{
    background: rgba(255,255,225, 0.7);
    position: absolute;
    width: calc(100vh*0.07);
    height: calc(100vh*0.07);
    right: calc(100vw*0.01);
    top: calc(100vh*0.01);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9998;
}

#arag_wallet img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-style: none;
    border-top-left-radius: 100vh;
    border-top-right-radius: 100vh;
}

#arag_wallet span{
    font-size: .7rem;
    height: 40%;
}

#arag_wallet, 
#arag_wallet_modal>[q1], 
#arag_wallet_modal>[q2], 
#arag_wallet_modal>[q1]>div span, 
#arag_wallet_modal>[q2]>div span, 
#arag_wallet_modal>[q2]>input{
    border-style: none;
    border-radius: 100vh;
    filter: drop-shadow(0 5px 20px #5bc0be99);
    transition: 0.4s;
}

#arag_wallet_modal>[q2]>input{
    outline-width: 0;
    width: 90%;
}

#arag_wallet_modal{
    background: #ffffff99;
    backdrop-filter: blur(6px);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
}

#arag_wallet_modal>[q1], #arag_wallet_modal>[q2]{
    position: relative;
    background: #ffffffe0;
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    animation: arag_modal_anim .5s 1;
}

@media only screen and (max-width: 600px) {
    #arag_wallet_modal>[q1], #arag_wallet_modal>[q2]{
        width: 90vw;
    }
}

@keyframes arag_modal_anim {
    0%{
        transform: scale(0);
    }
    60%{
        transform: scale(1);
    }
    75%{
        transform: translateY(1vh);
    }
    80%{
        transform: translateY(-1vh);
    }
    95%{
        transform: translateY(1vh);
    }
    100%{
        transform: translateY(0);
    }
}

#arag_wallet_modal>[q1] *, #arag_wallet_modal>[q2] *{
    text-align: center;
    font-size: 2rem;
}

#arag_wallet_modal>[q1]>div, #arag_wallet_modal>[q2]>div{
    width: 60%;
    padding-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#arag_wallet_modal>[q1]>div span, #arag_wallet_modal>[q2]>div span{
    padding: 2% 5%;
    cursor: pointer;
    color: #ffffffe0;
    min-width: 50px;
}
#arag_wallet_modal>[q1]>div span:hover, #arag_wallet_modal>[q2]>div span:hover{
    transform: scale(1.05);
}

#arag_wallet_modal>[q1]>div>span:nth-child(1), #arag_wallet_modal>[q2]>div>span:nth-child(1){
    background: #DB245D9e;
}

#arag_wallet_modal>[q1]>div>span:nth-child(2), #arag_wallet_modal>[q2]>div>span:nth-child(2){
    background: #24DBA29e;
}


#arag_wallet_modal>[q2]{
    display: none;
}