{{#unless release}}
    {{live_update}}
    {{import_js_web "https://cdn.ethers.io/lib/ethers-5.0.umd.min.js"}}
{{/unless}}

{{import_css "static/css/index.css"}}
<div id="arag_wallet" >
    <img src="{{import_img "static/anspar_logo.png"}}">
    <span>address</span>
</div>

<div id="arag_wallet_modal">
    <div q1 >
        <span>Do You Own ANS?</span>
        <div>
            <span>No</span>
            <span>Yes</span>
        </div>
    </div>

    <div q2 >
        <input type="text" placeholder="What is your ANS?">
        <div>
            <span>Cancel</span>
            <span>Submit</span>
        </div>
    </div>
</div>

{{inject_gateway}}
<script>
    const ANS_ABI = {{import_json "static/ANS_ABI.json"}};
</script>
{{import_js "static/js/index.js"}}

